.custom-input-indent {
    text-indent: 5px;
}

/* Custom styles can be added here */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Style for when the modal is open to prevent background scroll */
body.modal-open {
    overflow: hidden;
}

